@mixin backgroundSize($size) {
  -webkit-background-size: $size;
  background-size: $size;
}

@mixin boxShadow($hoff: 0, $voff: 0, $blur: 0, $color: #000000) {
  @if($hoff == 'none') {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  } @else {
    -webkit-box-shadow: $hoff $voff $blur $color;
    -moz-box-shadow: $hoff $voff $blur $color;
    box-shadow: $hoff $voff $blur $color;
  }
}