$boxBgColor: #f6f6f6;
$navColorPrimary: #ffffff;
$navBg: #101022;
$navHover: #292a48;

$commonBg: #101022;
$commonClose: #ff594f;
$commonMinimalize: #ffbc1b;
$commonFullScreen: #00cd46;

$textPrimary: #080606;
$textSecondary: #8a8995;

$starActive: #21233d;

$borderPrimary: #e0e0e0;
