@import "normalize.css/normalize";
@import "bourbon/app/assets/stylesheets/bourbon";
@import "mixins";
@import "variables";

html, body {
  height: 100%;
}

body {
  @include backgroundSize(cover);
  background-image: url('/../assets/background.jpg');
  margin: 0;
  padding: 0;
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-box {
  @include border-top-radius(rem(10));
  @include border-bottom-radius(rem(10));
}

#mainContainer {
  width: rem(650);
  height: rem(500);
  overflow: hidden;

  nav, main {
    height: 100%;
  }

  nav {
    width: rem(150);
    height: 100%;
    background-color: $navBg;
    float: left;

    #commonNav {
      height: rem(40);
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: rem(5);

      .btn {
        margin-left: rem(10);
      }
    }
  }

  main {
    background-color: $boxBgColor;

  }
}

.btn {
  &.commonNav {
    @include border-style(none);
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    display: inline-block;
    width: $commonBtnSize;
    height: $commonBtnSize;
    margin: 0;
    padding: 0;

    &.close {
      background-color: $commonClose;
    }
  }
}