@import "normalize.css/normalize";
@import "bourbon/app/assets/stylesheets/bourbon";
@import "mixins";
@import "variables";

html, body {
  height: 100%;
}

body {
  @include backgroundSize(cover);
  background-image: url('/../assets/background.jpg');
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}


#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-box {
  @include border-top-radius(rem(10));
  @include border-bottom-radius(rem(10));
}

#mainContainer {
  @include boxShadow(0, 0, rem(15), rgba(0, 0, 0, .5));
  width: rem(650);
  height: rem(500);
  overflow: hidden;

  nav, main {
    height: 100%;
  }

  nav {
    width: rem($navWidth);
    height: 100%;
    background-color: $navBg;
    float: left;

    #commonNav {
      height: rem(40);
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: rem(5);
      padding-top: rem(1);

      .btn {
        margin-left: rem(10);
      }
    }

    #mainNav {
      ul {
        li {
          .btn {
            display: block;

            &.navBtn {
              @include border-style(none);
              color: $navColorPrimary;
              height: rem(50);
              width: 100%;
              background-color: transparent;
              text-align: left;
              padding: 0 0 0 rem(15);
              margin: 0;

              &:hover, &.active {
                background-color: $navHover;
              }
            }
          }
        }
      }
    }
  }

  main {
    background-color: $boxBgColor;
    margin-left: rem($navWidth);

  }
}

.btn {
  &:focus {
    @include boxShadow(none);
  }

  &.commonNav {
    @include border-style(none);
    @include border-top-radius(50%);
    @include border-bottom-radius(50%);
    display: inline-block;
    width: $commonBtnSize;
    height: $commonBtnSize;
    margin: 0;
    padding: 0;

    &.close {
      background-color: $commonClose;
    }

    &.minimalize {
      background-color: $commonMinimalize;
    }

    &.fullscreen {
      background-color: $commonFullScreen;
    }
  }
}

nav {
  ul {
    padding: 0;
    margin: 0;
    display: block;

    li {
      padding: 0;
      margin: 0;
      display: block;

    }
  }
}